<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #88b9cf;">
  <%= link_to "My To Do List", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>